<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- nav bar start -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Welcome Admin</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('summery',from='admin')}}">Summery</a>
        </li>
      </ul>
      <form action="/search" class="d-flex" role="search">
        <input class="form-control me-2" name="search_text" type="search" placeholder="Search" aria-label="Search">
        <input type="hidden" name="from" value="admin">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>

        <button class="btn btn-danger ms-2 ">
        <a href="/" style="text-decoration: none; color: inherit;">Logout</a>
        </button>
  </div>
</nav>
<!-- Admin will block customer/service professional based on fraudulent activity/poor reviews -->
    <!-- nav bar end -->

    <!-- Services section starts -->
<div class="container mt-4">
    <h2>Services</h2>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Service ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Base Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for service in services_list() %}
    <tr>
      <th scope="row">{{service.id}}</th>
      <td>{{service.formal_name}}</td>
      <td>{{service.desc}}</td>
      <td>{{service.base_price}}</td>
      <td class="row">
            <a href="{{url_for('service',from='admin_edit_service',SERVICE_ID=service.id)}}" class="btn btn-warning col m-1">Edit</a>
            <a href="{{url_for('execute',service_mode='admin_delete_service',SERVICE_ID=service.id)}}" class="btn btn-danger col m-1">Delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="text-center">
    <a href="{{url_for('service',from='admin_add_new_service')}}" class="btn btn-primary">Add Service</a>
</div>
</div>
    <!-- Services section ends -->
<hr>
    <!-- Providers section starts -->
<div class="container">
    <h2>Service Providers</h2>


    


    <table class="table">
  <thead>
    <tr>
      <th scope="col">Provider ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Experience</th>
      <th scope="col">Service Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Address</th>
      <th scope="col">Pin Code</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    {% for provider in providers_list() %}
    {% if provider.verified==False %}
    <tr>
      <th scope="row">{{provider.id}}</th>
      <td>{{provider.name}}</td>
      <td>{{provider.email}}</td>
      <td>{{provider.experience}}</td>
      <td>{{provider.service_type}}</td>
      <td>{{provider.ph_no}}</td>
      <td>{{provider.address}}</td>
      <td>{{provider.pin_code}}</td>
      <td >
         
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  
   <a href="{{url_for('execute',service_mode='admin_prov_verify',prov_id=provider.id,verified=1)}}" class="btn btn-success me-md-2">Approve</a>
   <a href="{{url_for('execute',service_mode='admin_prov_verify',prov_id=provider.id,verified=0)}}" class="btn btn-warning ">Reject</a>
   <a href="{{url_for('execute',service_mode='admin_delete_prov',prov_id=provider.id)}}" class="btn btn-danger">Delete</a>
</div>
      </td>

    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
    
</div>
    <!-- Providers section ends -->
<hr>
    <!-- Service section starts -->



<div class="container">
    <h2>Service Requests</h2>

    <table class="table">
  <thead>
    <tr>
      <th scope="col">Request ID</th>
      <th scope="col">Service Name</th>
      <th scope="col">Customer</th>
      <th scope="col">Assigned Provider (if any)</th>
      <th scope="col">Status</th>
      <th scope="col">Request Date</th>
      <th scope="col">Completion Date</th>
      <th scope="col">Rating</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody>
    {% for service_requests in service_requests_list() %}
    <tr>
      <th scope="row">{{service_requests.id}}</th>
      <td>{{service_requests.service_name}}</td>
      <td>{{service_details(service_requests.id)["customer"].name}}</td>
      <td>{{service_details(service_requests.id)["prov_details"].name}}</td>
      <td>{{service_requests.service_status}}</td>
      <td>{{service_requests.request_date}}</td>
      <td>{{service_requests.completion_date}}</td>
      <td>{{service_requests.rating}}</td>
      <td>{{service_requests.remarks}}</td>
            <td >
         
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
  
   <a href="{{url_for('execute',service_mode='admin_delete_service_request',service_request_id=service_requests.id)}}" class="btn btn-danger">Delete</a>
</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    
</div>
    <!-- Service section ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>